name: SonarCloud
on:
  pull_request:
    branches:
      - master
      - develop
      - feature/**

jobs:
  sonarcloud:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
      with:
        fetch-depth: 0
    - name: SonarCloud Scan
      uses: SonarSource/sonarcloud-github-action@e2a1ee7c31ee491f1e09c74535b1c0d3e9f5cd82
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
      with:
        args: >
          -Dsonar.projectKey=ivaluisnazare_python-dio-luizalabs
          -Dsonar.organization=ivaluisnazare
          -Dsonar.sources=.
          -Dsonar.exclusions=**/tests/**,**/venv/**,**/.venv/**,**/__pycache__/**
          -Dsonar.python.coverage.reportPaths=coverage.xml
          -Dsonar.python.xunit.reportPath=test-results.xml
